{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'form/css/form.css' %}">
</head>
<body>
 <form method="post">
     {% csrf_token %}
     {{ form.typename }}<br>
     {{ form.mask }}<br>
     <span>{{ error }}</span>
     <button class="btn btn-success" type="submit">Добавить</button>
 </form>
</body>
</html>